<span><h4>| Latest Guides</h4></span>
<hr id="content-line">
<div class="jumbotron">
  <h1 class="display-4">Today Guides</h1>
  <p class="lead">Looking for a fearless SnS build that perfecting the power of the Perfect Rush?</p>
  <hr class="my-4">
  <p>Checkout the latest Sword and Shield builds utilizing the Tigrex!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">View more</a>
  </p>
</div>