<span><h4>| <%= t '.latest_guide' %></h4></span>
<hr id="content-line">
<div class="jumbotron">
  <h1 class="display-4">Monster Hunter World: Iceborne</h1>
  <p class="lead">Looking for a fearless SnS build that perfecting the power of the Perfect Rush?</p>
  <hr class="my-4">
  <p>Checkout the latest Sword and Shield builds utilizing the Tigrex!</p>
  <img src="https://ethugamer.com/wp-content/uploads/2019/07/Feature-1-1024x517.png" class="img-fluid" alt="Responsive image">
   <hr class="my-4">
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="#" role="button">View more</a>
  </p>
</div>
