<!--TODO Should have platform picker here-->

<!--Showing content base on dropdown selection-->
<% @latest_games.each do |gamecard| %>
  <div class="card" style="width: 15rem;">
    <img class="card-img-top"<%= image_tag("#{gamecard[:cover]}") %>
    <div class="card-body">
    <small class="card-text"><%= gamecard[:name] %></small>
    </div>
    <!--<a href="<=game_path(gamecard[:id]) %>" class="btn btn-outline-warning btn-block">Details</a>-->
  </div>
<% end%>

