<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Get in Touch!</title>
  </head>
  <body>
    <h1>GameInsight</h1>
    <p>
     Basic Contact Form, TBD.
    </p>
  </body>
</html>