<html>
  <head>
    <% provide(:title, "Get In Touch!") %>
    <title><%= yield(:title) %></title>
  </head>
  <div class="container">
  <body>
    <h1>GameInsight</h1>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="youremail@address">
        </div>
  
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Question</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
        </div>
        <button type="submit" class="btn btn-warning mb-2">Submit</button>
        
    </form>
  </body>
  </div>
</html>