<html>
  <head>
    <% provide(:title, "Help") %>
    <title><%= yield(:title) %> | GameInsight FAQ</title>
  </head>
  <div class="container">
    <body>
      <h4>EthuGameDB - The Videos Game Database for gaming enthusiastic!</h4>
      <hr>
      <div class = "jumbotron">
      <p>
         The latest release of this web app is 0.9.9. This allow us to show you the following:
      </p>
      <ul>
        <li>Current most popular games list</li>
        <li>The release schedule of upcoming games</li>
        <li>Details on current popular platforms, list of popular game on each platform</li>
        <li>Details on all video game genres, and list of the most popular games base on genres</li>
        <li>Latest news from popular source</li>
        <li>Games page that show all related information on a game (Screenshots/Videos/News</li>
      </ul>
      </div>
    </body>
  </div>
</html>
