<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | GameInsight FAQ</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
     Contains steps on how to use the site. Should be released in version 0.9
    </p>
  </body>
</html>