<html>
  <head>
    <% provide(:title, "Help") %>
    <title><%= yield(:title) %> | GameInsight FAQ</title>
  </head>
  <div class="container">
    <body>
      <h1>Sample App</h1>
      <p>
       Contains steps on how to use the site. Should be released in version 0.9
      </p>
    </body>
  </div>
</html>
