<% provide(:title, "Home ") %>
  <!--<div class="container" >-->
  <!--  <= render "featureguides" %>-->
  <!--</div>-->
  
  <!--<div class="container">-->
  <!--  <= render "latestnewsfeed"%>-->
  <!--</div>-->
  <%= render "posts/latestposts" %>
  
  <%= render "games/layouts/hotgames" %>

  <%= render "populargames" %>
  <br>
  <!--TODO - Retouch GameRelease-->
  <!--TODO - Enable GameNews-->
  <!--<div class="container">-->
  <!--  <h4>| <= t '.latest_games' %><button style="float:right;" id="platform-select-btn" class="btn btn-secondary dropdown-toggle" type="button" aria-expanded="false" data-toggle="dropdown">Pick a Platform</button>-->
  <!--    <div class="dropdown-menu">-->
  <!--        < @platforms_list.each do |platform| %>-->
  <!--          <= content_tag(:a, link_to(platform, root_path(platform_name: platform), remote: true,class: "dropdown-item")) %>-->
  <!--        < end %>-->
  <!--    </div></h4>-->
    
  <!--  </div>-->
  <!--  <hr id="content-line">-->
        
  <!--  <div class="d-flex justify-content-center">-->
  <!--    <div id="loadingSpinner" class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">-->
  <!--    <span class="sr-only">Loading...</span>-->
  <!--    </div>-->
  <!--    <div id="releaseByPlatform">-->
  <!--    </div>-->
  <!--  </div>-->
    
  <!--</div>-->

  <br>
  
  <%= render "bestgamesplatform" %>

<!--<= link_to image_tag("ethlogo.png", alt: "Ethu logo"),'http://ethugamer.com/' %>-->