<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Welcome to GameInsight</title>
    <!--<title>Home | </title>-->
  </head>
  <body>
    <h1>GameInsight</h1>
    <p>
     Content of latest video games are here.... TBD
    </p>
  </body>
</html>