<%unless @news.nil? %>
  <div class="jumbotron">
    <h1 class="display-4">Latest News</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
<% end %>

<!--<div class="jumbotron">-->
<!--TODO add more newsousrce -->
<h5>| Around the Gaming World </h5>
  <hr class="my-4">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#gematsu" role="tab" aria-controls="home" aria-selected="true">Gematsu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pushsquare" role="tab" aria-controls="profile" aria-selected="false">PushSquare</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#gamespot" role="tab" aria-controls="contact" aria-selected="false">GameSpot</a>
    </li>
  </ul>         
  <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="gematsu" role="tabpanel" aria-labelledby="home-tab"><%=rssFeedrenderer(@gematsu_rss_feeds)%></div>
  <div class="tab-pane fade" id="pushsquare" role="tabpanel" aria-labelledby="profile-tab"><%=rssFeedrenderer(@pushsquare_rss_feeds)%></div>
  <div class="tab-pane fade" id="gamespot" role="tabpanel" aria-labelledby="contact-tab"><%=rssFeedrenderer(@gamespot_rss_feeds)%></div>
  </div>
</div>