<div class="jumbotron">
  <h1 class="display-4">Latest News</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<!--<div class="jumbotron">-->
<h5>| Around the Gaming World </h5>
  <hr class="my-4">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gematsu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">PushSquare</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">GameSpot</a>
    </li>
  </ul>         
  <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><%=rssFeedrenderer@gematsu_rss_feeds%></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><%=rssFeedrenderer@pushsquare_rss_feeds%></div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><%=rssFeedrenderer@gamespot_rss_feeds%></div>
  </div>
</div>
 
<!--</div>   
   <div class="container">
      <div class="row">
      <@rss_feeds.each do |arc|%>  
      <div class="col-md-4">
          <div class="card shadow p-3 mb-3">
          < unless arc[:img].nil?%>
            <= image_tag(arc[:img], class: "card-img-top")%>
          <end%>
          <div class="card-body">
            <h5 class="card-title"><=arc[:title]%></h5>
            <p class="card-text"><= truncate(arc[:summary], length: 200)%></p>
            <hr>
            <= link_to("View More", arc[:url],target: "_blank", rel: "nofollow")%>
            <p class="card-text"><small class="text-muted">Last updated <= time_ago_in_words(arc[:publish_at]) %> ago</small></p>
          </div>
        </div>
      </div>
      <end%>
  </div>-->

<!--<h5>Description</h5>-->
<!--  <hr>-->
<!--  <div>-->
<!--  <= raw @rss_feeds.second[:description]%>-->
<!--  </div>-->