<div class = "row">
  <div class = "col-4">
    <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">
      <h1>CONTENT</h1>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Summary</a>
        <!--<nav class="nav nav-pills flex-column">-->
        <!--  <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>-->
        <!--  <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>-->
        <!--</nav>-->
        <a class="nav-link" href="#item-2">History</a>
        <a class="nav-link" href="#item-3">Specification</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#controller">Controllers</a>
          <a class="nav-link ml-3 my-1" href="#peripherals">Other Peripherals</a>
        </nav>
      </nav>
    </nav>
  </div>
  <div class = "col-8">
    <div data-spy="scroll" data-target="#navbar-scrollspy" data-offset="0">
      <h4 id="item-1">Summary</h4>
      <p><%=@platform.summary%></p>
      <h4 id="item-2">History</h4>
      <p>On June 10, 2016, Sony confirmed that a hardware revision of the PlayStation 4, rumored to be codenamed "Neo", was under development. The new revision is a higher-end model that is meant to support gameplay in 4K. The new model will be sold alongside the existing model, and all existing software will be compatible between the two models.[41] Layden stated that Sony has no plans to "bifurcate the market", only that gamers playing on the Neo will "have the same experience, but one will be delivered at a higher resolution, with an enhanced graphical experience, but everything else is going to be exactly as you'd expect".[42] The high-end console was publicly revealed on September 7, 2016, as PlayStation 4 Pro.[43] At the same time, Sony unveiled an updated version of the original PS4 model with a smaller form factor.</p>
      <h4 id="item-3">Specification</h4>
      <p>The PlayStation 4 uses an Accelerated Processing Unit (APU) developed by AMD in cooperation with Sony. It combines a central processing unit (CPU) and graphics processing unit (GPU), as well as other components such as a memory controller and video decoder.[51] The CPU consists of two quad-core Jaguar modules totaling 8 x86-64 cores,[51][52] 7 of which are available for game developers to use.[53] The GPU consists of 18 compute units to produce a theoretical peak performance of 1.84 TFLOPS.[27] The system's GDDR5 memory is capable of running at a maximum clock frequency of 2.75 GHz (5500 MT/s) and has a maximum memory bandwidth of 176 GB/s.[27][54][55] The console contains 8 GB of GDDR5 memory,[27][56] 16 times the amount of RAM found in the PS3 and is expected to give the console considerable longevity.[47][57] It also includes secondary custom chips that handle tasks associated with downloading, uploading, and social gameplay.[58][59] These tasks can be handled seamlessly in the background during gameplay or while the system is in sleep mode.[60] The console also contains an audio module, which can support in-game chat as well as "a very large number" of audio streams for use in-game.[61] All PlayStation 4 models support high dynamic range (HDR) color profiles</p>
      <h5 id="controller">Controllers</h5>
       <p>The DualShock 4 is PlayStation 4's primary controller; it maintains a similar design to previous iterations of the DualShock series, but with additional features and design refinements.[74] Among other tweaks, the caps of the analog sticks were given a concave design (similar to the Xbox 360 controller), the shape of the triggers and shoulder buttons were refined, the D-pad buttons were given a steeper downward angle to provide a resting space in the center for the user's thumb,[74][75] and the hand grips were made thicker and given microtexturing to improve their feel.
A major addition to the DualShock 4 is a touchpad; it is capable of detecting up to two simultaneous touch presses, and can also be pressed down as a button.[74] The "Start" and "Select" buttons were replaced by "Options" and "Share" buttons; the latter is designed to allow access to the PlayStation 4's social features (including streaming, video recording, and screenshot tools).[74][76] The DualShock 4 is powered by a non-removable, rechargeable lithium-ion battery, which can be charged using its micro USB connector. The controller also features an internal speaker, and a headphone jack for headsets or headphones; the console is bundled with a pair of headset earbuds.
The controller's motion tracking system is more sensitive than those of the PlayStation 3's controllers. An LED "light bar" was additionally added to the front of the controller; it is designed to allow the PlayStation Camera accessory to further track its motion, but can also be used to provide visual effects and feedback within games (such as, for instance, reflecting a player's low health by turning red).[79][77][76][80]
Although the PS4 and DualShock 4 continue to use Bluetooth for wireless connectivity, the console is incompatible with PlayStation 3 controllers.[81] An exception are the PlayStation Move motion controllers originally released for PS3, which are officially supported for use with the PlayStation Camera.[77][82] In October 2013, Shuhei Yoshida stated on Twitter that the DualShock 4 would support "basic functions" when attached to a PC.[83] In August 2016, Sony unveiled an official USB wireless adapter for the DualShock 4, enabling use of all of the controller's functionality on PC.[84] In December 2016, Valve's Steam platform was updated to provide support and controller customization functionality for DualShock 4, through existing APIs for the Steam Controller.
A revision of the DualShock 4 was released alongside the "Slim" and Pro models in 2016, and is bundled with these systems. It is largely identical to the original model, except that the touchpad now contains a "stripe" along the top which the light bar's LED can shine through, and the controller can communicate non-wirelessly when connected to the console over USB.</p>
       <h5 id="peripherals">Other Peripherals</h5>
       <p>Camera
The PlayStation 4 Camera, which is required for use with the PS VR
Main article: PlayStation Camera
The PlayStation Camera is an optional motion sensor and camera for the PlayStation 4, similar to Kinect on Xbox. It includes two 1280×800 pixel lenses operating with an aperture of f/2.0, with 30 cm focusing distance, and an 85° field of view.[70] The dual camera setup allows for different modes of operation, depending on the initiated and running application.[88] The two cameras can be used together for depth-sensing of its surrounding objects in its field of vision.[89] Alternatively, one of the cameras can be used for generating the video image, with the other used for motion tracking.[90]
PlayStation Camera also features a four-channel microphone array, which helps reduce unwanted background noise and can be used for voice commands.[88] With the PlayStation Camera connected, different users can automatically log-on to the system via face detection.[70]
PlayStation VR
Main article: PlayStation VR
PlayStation VR is a virtual reality system for PlayStation 4; it consists of a headset, which features a 1080p display panel, LED lights on the headset that are used by PlayStation Camera to track its motion, and a control box that processes 3D audio effects, as well as video output to the external display (either simulcasting the player's VR perspective, or providing an asymmetrical secondary perspective). PlayStation VR can also be used with PlayStation Move motion controllers</p>
    </div>
  </div>
</div>
<div>
  <%= render "platformgames"%>
</div>