<br>

<div class = "row">
    <div class="jumbotron">
    <h4 id="item-1">Summary</h4>
    <p><%=@platform.summary%></p>
    <%= raw @platform.details%>
    </div>
    <!--<div class = "col-4">-->
    <!--  <nav id="navbar-scrollspy" class="navbar navbar-light bg-light">-->
    <!--    <h1>CONTENT</h1>-->
    <!--    <nav class="nav nav-pills flex-column">-->
    <!--      <a class="nav-link" href="#item-1">Summary</a>-->
    <!--      <a class="nav-link" href="#item-2">History</a>-->
    <!--      <a class="nav-link" href="#item-3">Specification</a>-->
    <!--      <nav class="nav nav-pills flex-column">-->
    <!--        <a class="nav-link ml-3 my-1" href="#controller">Controllers</a>-->
    <!--        <a class="nav-link ml-3 my-1" href="#peripherals">Other Peripherals</a>-->
    <!--      </nav>-->
    <!--    </nav>-->
    <!--  </nav>-->
    <!--</div>-->
    <!--<div class = "col-8">-->
    <!--  <div data-spy="scroll" data-target="#navbar-scrollspy" data-offset="0">-->
        
    <!--  </div>-->
    <!--</div>-->
</div>
<div>
    <%= render "platformgames"%>
</div>