<div class="container">
<span><h2>| Popular Games by Genres</h2></span>
<hr id="new-content-line">
  
  <%= badge_render(@genres) %>
  
<br>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-shooter-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Shooter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Role-playing (RPG)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Hack and slash/Beat 'em up</a>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pill-games-list" role="tabpanel" aria-labelledby="pills-home-tab"></div>
  <!--<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Role THere</div>-->
  <!--<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Hack There</div>-->
</div>

<script>
  $("#pills-tab a").click(function(){
    alert("Clicked " + $(".a").val());
  });
  
</script>

</div>