<div class="container">
  <div id="search-option">
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Result per page
    </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">10</button>
      <button class="dropdown-item" type="button">20</button>
      <button class="dropdown-item" type="button">30</button>
    </div>
  </div>
  </div>
  <hr>
  
  <%= search_result(@rs,@api_rs)[0] %>
  <br>
 
  <div class="my_pagination">     
    <%= will_paginate search_result(@rs,@api_rs)[1]%>
  </div>
  <!--<div class="my_pagination">     -->
  <!--  <= will_paginate @game_card_result %>-->
  <!--</div>-->
</div>