<!--Show Translated Content-->
<%@translated_games.each do |game|%>
<h4><%=game.name%></h4>
  <div class="row">
    <div class="col">
      <h4>Original Value</h4>
    </div>
    
    <div class="col">
      <!--Translated-->
      <text>
        
      </text>
      <!--Update Button-->
      <button>Update</button>
    </div>
  </div>
<%end%>
  <div id="pagination"></div>
<hr>
