<head>
    <% provide(:title, "Find a game to play") %>
    <title><%= yield(:title) %></title>
</head>

<!--Most discussed/hottest game popover for more detail-->
<%= render "games/layouts/hotgames" %>

<!--Upcoming Release (Around next month)-->


<!---->




