// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

p {
  font-family: 'Verdana';
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.eth_logo{
  width: 30px;
  height: 30px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 5px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}


footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.leftSidebar {
  width: 320px;
  position: fixed;
  padding-left: 15px;
  left: 0;
}

.rightSidebar {
  float: right;
  position: fixed;
  width: 320px;
  padding-right: 15px;
  right: 0;
}

.sidenav {
  height: 100%;
  border-radius: 10px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}