<% provide(:title, "Home |") %>
<div class="container">
   <span><h4>| Summary</h4></span>
   <hr id="content-line">
    
</div>

<div class="container">
   <span><h4>| Details</h4></span>
   <hr id="content-line">

</div>

<div class="container">
  <span><h4>| Popular Games of this Genre</h4></span>
  <hr id="content-line">

   
</div>