<% provide(:title, "Home |") %>
<div class="container">
   <span><h4>| Summary</h4></span>
   <hr id="content-line">
        
</div>

<%= raw @genre_detail %>


<div class="container">
  <span><h4>| Popular Games of this Genre</h4></span>
  <hr id="content-line">

   
</div>