<!--TODO - Translate error message as well-->
<!--Check if any message on submission of user-->
<% if @screenshot.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--A helper to display error count - pluralize-->
      The form contains <%= pluralize(@screenshot.errors.count, "error") %>.
    </div>
    <ul>
      <!--Display each message lopp-->
    <% @screenshot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>