<footer class="footer" >
  <nav class="navbar navbar-dark bg-dark">
    <p>Copyright © 2019 Ethu Inc.</p>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
      <li>Privacy Policy</li>
      <li>Blog</li>
    </ul>
  </nav>
</footer>
