<div class="card" style="width: 18rem;">
  <img class="card-img-top"<%= image_tag("#{@game_cover}") %>
  <div class="card-body">
    <h5 class="card-title"><%= @game_name %></h5>
    <p class="card-text"><%= @game_summary %></p>
    <a href="#" class="btn btn-primary">Link to Game Page</a>
  </div>
</div>