<div class ="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!--   <p class="navbar-brand"><button type="button" id="sidebarCollapse" class="btn btn-outline-warning">-->
  <!--    <i class="fas fa-bars"></i>-->
  <!--  </button>-->
  <!--EthuGameDB</p>-->
    <p class="navbar-brand" href="#">EthuGameDB |</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=<%=root_path %>><i class="fas fa-home"></i>
          Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=news_path%>><i class="far fa-newspaper"></i>
          News</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href=""><i class="fas fa-gamepad"></i>
          Discover</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-hotjar fa-lg"></i>
          Hot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-hourglass-end"></i>
          Count Down</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-steam fa-lg"></i>
          PC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-xbox fa-lg"></i>
          Xbox One</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-playstation fa-lg"></i>
          PlayStation 4</a>
        </li>
      </ul>
      
    </div>
     <%= form_tag(search_path, :method => "get",   
      class: 'form-inline', id: 'search-bar') do %>  
      <%= search_field_tag :name, params[:name], placeholder: " " ,class:"form-control mr-sm-2", id: "custom-search"%>  
      <i class="fas fa-search fa-2x" id="header-search-icon"></i>
        <!--<= button_tag "Search", :class => 'btn btn-outline-warning',:name => nil%>  -->
      <% end %>
    
</nav>
</div>