<div class ="header">
<nav class="navbar fixed-top navbar-dark bg-dark">
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--  <span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <p class="navbar-brand"><button type="button" id="sidebarCollapse" class="btn btn-outline-warning">
    <i class="fas fa-bars"></i>
  </button>
  GameInsight</p>
  
  <%= form_tag(search_path, :method => "get",   
    class: 'form-inline') do %>  
    <%= search_field_tag :name, params[:name], placeholder: " ", class: "form-control mr-sm-2" %>  
      <%= button_tag "Search", :class => 'btn btn-outline-warning',:name => nil%>  
  <% end %>
</nav>
</div>