<sidebar class="leftSidebar">
  <div class="sidenav jumbotron">
    <p>
      Should have a good looking menu here
      The extended text is just for height show ups
      So
      Does
      It 
      Work
      ?
    </p>
  </div>
</sidebar>
